# Compiled Object files
*.o

# Executables
seirabmcuda

# Temporary files
*~
#*#

# Output directory (if not meant to be tracked)
output/
obj_tmp/

# Editor-specific files (e.g., Vim, Emacs)
.DS_Store
.vscode/
.idea/

# cJSON test files
cJSON_test

# CUDA specific
*.fatbin
*.ptx
*.link.o
